{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đề tài nghiên cứu khoa học</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">

    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Jquery.js' %}"></script>
    <script src="{% static 'js/Script.js' %}"></script>
</head>
<body id="body" onload="GetJSON()">
    <form action="" method="POST">
        {% csrf_token %}
    </form>
    <div class="container-fluid">
        <h1 class="text-center alert alert-primary">NGHIÊN CỨU VÀ XÂY DỰNG MÔ HÌNH ĐIỀU KHIỂN HỆ ĐA VI ĐIỀU KHIÊN PHÂN TÁN THÔNG QUA INTERNET</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h5>Khu vực 1</h5>
                                </center>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "1"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__1">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "1">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "1">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "2"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__2">
                                            <div class="IMG col-md-4" id="IMG__2"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "2">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "2">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "3"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__3">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "3">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "3">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "4"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__4">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "4">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "4">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "5"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__5">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "5">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "5">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "6"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__6">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "6">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "6">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="{{CON.NAME}}" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "7"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__7">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "7">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "7">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            




            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h5>Khu vực 2</h5>
                                </center>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 1" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "8"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__8">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "8">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "8">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 2" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "9"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__9">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "9">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "9">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 3" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "10"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__10">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "10">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "10">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 4" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "11"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__11">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "11">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "11">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 5" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "12"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__12">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "12">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "12">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 6" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "13"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__13">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "13">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "13">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 7" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "14"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__14">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "14">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "14">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h5>Khu vực 3</h5>
                                </center>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 1" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "15"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__15">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "15">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "15">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 2" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "16"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__16">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "16">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "16">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 3" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "17"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__17">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "17">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "17">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 4" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "18"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__18">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "18">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "18">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 5" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "19"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__19">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "19">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "19">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 6" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "20"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__20">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "20">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "20">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="" id="" value="Thiết bị 7" class="form-control" placeholder="Tên thiết bị">
                                            <button class="btn btn-outline-primary BTN_EDIT" data-btnid = "21"><i class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <center>
                                        <div class="mt-2" id="IMG__21">
                                            <div class="IMG col-md-4"></div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_ON" data-id = "21">Bật thiết bị</button>
                                    </center>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button class="card_button mt-5 rounded-pill text-nowrap BUTTON_OFF" data-id = "21">Tắt thiết bị</button>
                                    </center>
                                </div>
                            </div>
                            {% comment %} ======================================================= {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>